.Cube.frame {
    background-color: var(--root-random-color);
}


.Cube .center {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    perspective: 1200px;
    /*radši být od toho dál, aby byly objekty menší 
    + perspektivu dát na nejvíc parent element*/
    perspective-origin: 120% calc(50% - 500px);
    /*dívám se víc zboku a zvrchu*/
    --size: 150px;
    /*přehlednější je to dělat s em <3 - nastavíš si em na začátku
    jak potřebuješ, a pak půlku prostě uděláš .5em */
    --size-z: 150px;
}


.Cube .cube-base {
    /*background-color: rgba(255, 0, 0, .5);*/
    position: absolute;
    width: var(--size);
    height: var(--size);
    transition: all 2s ease-in-out;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: rotate(20deg) rotateY(-20deg);
}

.Cube .cube-base:hover {
    transform: rotate(250deg) rotateX(200deg);
}


.Cube .side {
    /* background-color: hsl(188, 100%, 60%); */
    box-shadow: 0 0 10px 10px #000 inset;
    width: var(--size);
    height: var(--size);
    position: absolute;
    opacity: .7;
    transform-style: preserve-3d;
    display: grid;
    place-items: center;
    font-size: 40px;
    font-weight: 800;
    transition: all 2s ease-in-out;
}

.Cube .cube-base:hover .side {
    --size-z: 200px;
}

.Cube .up {
    /*pokud si chceš hrát s opacity, musíš přidat víc specifičtější selektor*/
    background-color: hsl(188, 100%, 30%);
    /* opacity: .8; */
    transform: rotateX(90deg) translateZ(calc(var(--size-z) / 2));
}

.Cube .bottom {
    background-color: hsl(188, 100%, 50%);
    transform: rotateX(-90deg) translateZ(calc(var(--size-z) / 2));
}

.Cube .left {
    background-color: hsl(188, 100%, 20%);
    transform: rotateY(270deg) translateZ(calc(var(--size-z) / 2));
}

.Cube .right {
    background-color: hsl(188, 100%, 40%);
    transform: rotateY(90deg) translateZ(calc(var(--size-z) / 2));
}

.Cube .front {
    background-color: hsl(188, 100%, 70%);
    transform: translateZ(calc(var(--size-z) / 2));
}

.Cube .back {
    background-color: hsl(188, 100%, 80%);
    transform: rotateY(180deg) translateZ(calc(var(--size-z) / 2));
}