.DotWave.frame {
    display: grid;
    place-items: center;
    background: var(--root-random-color);
    /* background: radial-gradient(circle, var(--root-random-color) 0%, rgb(255, 255, 255) 1%, var(--root-random-color) 2%); */
    font-size: 26px;
}


/* .DotWave .circle {
    background-color: red;
    width: 0rem; 
    aspect-ratio: 1 / 1;
} */

.DotWave .line {
    position: absolute;
    height: 1em; /**/
    width: 1px;
    background: none;
    transform-origin: 50% -0.5rem; /*lze si hrát s Y*/
    transform: rotate(180deg);
}

.DotWave .dot {
    width: .5em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: dotWave-sizing 3s infinite linear both;
}

.DotWave .circles {
    position: absolute;
    background-color: rgba(247, 28, 28, 0.5);
    width: 0px;
    aspect-ratio: 1 / 1;
}

@keyframes dotWave-sizing {
    0% {background-color: var(--root-random-color); width: 0em}
    50% {background-color: rgb(255, 255, 255); width: 0.4em}
    100% {background-color: var(--root-random-color); width: 0em}
}
