.Wave.frame {
background: linear-gradient(45deg, rgb(21, 21, 173) 20%, transparent 100%),
            radial-gradient(circle at 60%, purple 50%, black 100%);

}

.Wave .waves {
    background-color: yellow;
    height: 8rem;
    bottom: 0;
    position: absolute;
    width: 130%;
}

.Wave .waves > * {
height: 2.1rem;
}

.Wave [class*="wave-"]::after {
    content: "";
    position: absolute;
    height: 2.1rem;
    width: 100%;
    background: radial-gradient(circle at 2rem 0px, green 2rem, red 2.1rem);
    background-repeat: repeat-x;
    background-size: 4rem 4rem;
    animation: wave-moving 2s ease-in-out alternate infinite;
}

.Wave .wave-middle::after {
    animation: wave-moving 2s ease-in-out alternate-reverse infinite;
} 

/* @keyframes wave-moving {
    0% {transform: translateX(-1rem)}
    100% {transform: translateX(1rem);}
} */