.Wave.frame {
background: linear-gradient(45deg, rgb(21, 21, 173) 20%, transparent 100%),
            radial-gradient(circle at 60%, purple 50%, black 100%);
/* overflow: visible; */
--wave-color: black;
box-shadow: inset 0 0 40px 15px rgba(0 0 0 / .2);
}

.Wave .waves {
    /* background-color: yellow; */
    height: 8rem;
    bottom: 0;
    position: absolute;
    width: 120%;
}

.Wave .waves > * {
height: 1.5rem;
}

.Wave [class*="wave-"]::after {
    content: "";
    position: absolute;
    height: 5rem;
    width: 100%;
    background: radial-gradient(circle at 2rem 0rem, transparent 2rem, var(--wave-color) 2.1rem);
                /* radial-gradient(circle at 4.6rem 0rem, transparent .5rem, rgba(77, 69, 223, 0.5) .6rem) */
    background-repeat: repeat-x;
    background-size: 4rem 5rem;
    --wave-color: rgba(87, 29, 204, 0.5);
    --wave-translateX-a: -2rem;
    --wave-speed: 5s;
    animation: wave-moving var(--wave-speed) ease-in-out alternate infinite;
}

.Wave .wave-middle::after {
    animation: wave-moving var(--wave-speed) ease-in-out alternate-reverse infinite;
    --wave-color: rgba(24, 24, 147, 0.9);
    --wave-translateX-a: -3rem;
    --wave-speed: 5.5s;
} 

.Wave .wave-front::after {
    --wave-color: rgb(24, 24, 100);
    --wave-translateX-a: -4rem;
    --wave-speed: 6s;
}

@keyframes wave-moving {
    0% {transform: translateX(var(--wave-translateX-a))}
    100% {transform: translateX(0rem);}
}


.Wave .moon {
    width: 3rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: radial-gradient(circle at .5rem 0rem, rgba(245, 237, 122, 0.9) .25rem, rgba(200 200 250 / .8) 3rem);
    position: absolute;
    top: 100px;
    left: 100px;
    animation: wave-moon 5s ease-in-out infinite alternate;
}

.Wave .moon::after {
width: 3rem;
aspect-ratio: 1 / 1;
border-radius: 50%;
background-color: black;
content: "";
position: absolute;
left: 1.5rem;
mix-blend-mode: multiply; /* ?????????????????????????????????*/ 
}

.Wave .star {
    width: .2rem;
    aspect-ratio: 1 / 1;
    animation: wave-sparkle 5s ease-in-out alternate infinite;
    background-color:rgba(242, 247, 152, 0.7);
    position: absolute;
    left: 50px;
    top: 50px;
    border-radius: 50%;
}

@keyframes wave-sparkle {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes wave-moon {
    0% {opacity: 1}
    100% {opacity: .6}
}