:root {
  --root-random-color: #a59; /*přes JS udělat fci na random změnu*/
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--root-random-color);
  padding: 1.5rem;
}

.App-header h1 {
  cursor: pointer;
}

.App-main {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  padding: 2rem 3rem;
}

.App-footer {
  padding: 1rem;
}

.App-footer p {
  padding: 0.2rem;
}

.App-footer a {
  text-decoration: none;
  color: var(--root-random-color);
}

.App-footer a:hover {
  filter: grayscale(50%);
}

@media (max-width: 600px) {
  .App-main {
    padding: 2rem 0.5rem;
  }
}
