body {
  --body-background-color: rgb(252, 252, 244);
  margin: 0;
  font-family: sans-serif;
  background-color: var(--body-background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
